---
const {options, value, class: cls, ...props} = Astro.props

---
<select class={`select ${cls}`} {...props} >
	<option hidden>Please Select One</option>
	{
		(Array.isArray(options)) 
		? options.map(option => (<option selected={(''+option)==(''+value)}>{option}</option>))
		: Object.entries(options).map((option, op2) => (<option value={option[0]} selected={(''+option[0])==(''+value)}>{option[1]}</option>))
	}
</select>